In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("./Assignment 4 attached files 20 April 2023 312 PM/trainCounts.txt", sep="\t", header=None)
df['AA'] = df[0].astype(str).str[0]
df['SS'] = df[0].astype(str).str[1]
df = df.drop(columns=[0])
df = df.rename({1: "count"}, axis=1)
df

     count AA SS
0    71295  A  C
1    38096  A  E
2   118122  A  H
3    15219  C  C
4    11012  C  E
5    11788  C  H
6    91108  D  C
7    20452  D  E
8    55118  D  H
9    67859  E  C
10   30453  E  E
11   99177  E  H
12   35731  F  C
13   36291  F  E
14   44951  F  H
15  131513  G  C
16   29389  G  E
17   36800  G  H
18   29394  H  C
19   14397  H  E
20   22110  H  H
21   66098  K  C
22   29944  K  E
23   72590  K  H
24   73825  L  C
25   66075  L  E
26  135789  L  H
27   15908  M  C
28   10376  M  E
29   22587  M  H
30   70299  N  C
31   17040  N  E
32   36206  N  H
33   90246  P  C
34   12963  P  E
35   25491  P  H
36   38836  Q  C
37   18797  Q  E
38   53058  Q  H
39   52829  R  C
40   30235  R  E
41   66170  R  H
42   87485  S  C
43   32805  S  E
44   54994  S  H
45   67458  T  C
46   41901  T  E
47   45222  T  H
48   50802  V  C
49   82384  V  E
50   66285  V  H
51   11710  W  C
52   11523  W  E
53   16033  W  H
54   50033  X  C
55   64830  X  E
56   83208  X  H
57   31418  Y  C
58   32141  Y  E
59   37932  Y  H

In [3]:
aavals = pd.unique(df['AA'])
results = []

def get_perc(m, arr):
    return m/sum(arr)
    

guessmap = dict()



for i in aavals:
    temp_df = df.loc[df["AA"]==i]
    arr1 = temp_df["count"].values.tolist()
    m = max(arr1)
    most_common = temp_df["SS"].loc[temp_df['count'] == m].values
    prob = most_common[0]
    
    guessmap[i] = prob
    
    results.append(get_perc(m, arr1))

    print(f"Amin Acid:  {i},\tSecondary Structure:  {prob} \nProbability: {get_perc(m, arr1)}\n")

Amin Acid:  A,	Secondary Structure:  H
Probability: 0.5191879145367517

Amin Acid:  C,	Secondary Structure:  C
Probability: 0.4002998500749625

Amin Acid:  D,	Secondary Structure:  C
Probability: 0.5466108304635284

Amin Acid:  E,	Secondary Structure:  H
Probability: 0.5021899953921484

Amin Acid:  F,	Secondary Structure:  H
Probability: 0.3842852624109837

Amin Acid:  G,	Secondary Structure:  C
Probability: 0.6652082427087233

Amin Acid:  H,	Secondary Structure:  C
Probability: 0.44603268539172397

Amin Acid:  K,	Secondary Structure:  H
Probability: 0.4304639688789791

Amin Acid:  L,	Secondary Structure:  H
Probability: 0.49254413487661824

Amin Acid:  M,	Secondary Structure:  H
Probability: 0.46217593255714023

Amin Acid:  N,	Secondary Structure:  C
Probability: 0.5690153385406127

Amin Acid:  P,	Secondary Structure:  C
Probability: 0.7012121212121212

Amin Acid:  Q,	Secondary Structure:  H
Probability: 0.47933436322736267

Amin Acid:  R,	Secondary Structure:  H
Probability: 0.4433976171649892

Amin Acid:  S,	Secondary Structure:  C
Probability: 0.4991043107186052

Amin Acid:  T,	Secondary Structure:  C
Probability: 0.436392570885167

Amin Acid:  V,	Secondary Structure:  E
Probability: 0.41301241784520054

Amin Acid:  W,	Secondary Structure:  H
Probability: 0.40831762848265674

Amin Acid:  X,	Secondary Structure:  H
Probability: 0.4200917852689187

Amin Acid:  Y,	Secondary Structure:  H
Probability: 0.3737474258801273

In [4]:
results

[0.5191879145367517,
 0.4002998500749625,
 0.5466108304635284,
 0.5021899953921484,
 0.3842852624109837,
 0.6652082427087233,
 0.44603268539172397,
 0.4304639688789791,
 0.49254413487661824,
 0.46217593255714023,
 0.5690153385406127,
 0.7012121212121212,
 0.47933436322736267,
 0.4433976171649892,
 0.4991043107186052,
 0.436392570885167,
 0.41301241784520054,
 0.40831762848265674,
 0.4200917852689187,
 0.3737474258801273]

In [5]:
guessmap

{'A': 'H',
 'C': 'C',
 'D': 'C',
 'E': 'H',
 'F': 'H',
 'G': 'C',
 'H': 'C',
 'K': 'H',
 'L': 'H',
 'M': 'H',
 'N': 'C',
 'P': 'C',
 'Q': 'H',
 'R': 'H',
 'S': 'C',
 'T': 'C',
 'V': 'E',
 'W': 'H',
 'X': 'H',
 'Y': 'H'}

###### test file

In [6]:
df2 = pd.read_csv("./Assignment 4 attached files 20 April 2023 312 PM/testCounts.txt", sep="\t", header=None)
df2['AA'] = df2[0].astype(str).str[0]
df2['SS'] = df2[0].astype(str).str[1]
df2 = df2.drop(columns=[0])
df2 = df2.rename({1: "count"}, axis=1)
df2.head(5)

   count AA SS
0  23940  A  C
1  12858  A  E
2  39188  A  H
3   5056  C  C
4   3742  C  E

###### accuracy tests

In [7]:
AAs = pd.unique(df2['AA'])

from statistics import mean

accurs = []

def get_accuracy(correct, arr):
    return correct/(sum(arr))

for i in AAs:
    temp_df = df2.loc[df2["AA"]==i]
    arr1 = temp_df["count"].values.tolist()
    guess = guessmap[i]
    gcount = temp_df["count"].loc[temp_df["SS"]==guess].values[0]
    
    accurs.append((get_accuracy(gcount, arr1)))
    

print(f"accuracy score test set: {mean(accurs)}")

print(f"accuracy score train set: {mean(results)}")

accuracy score test set: 0.47714055449994286
accuracy score train set: 0.47963121982586604

###### reporting the frequency for all amino acids in all secondary structures

In [8]:
results_df =pd.DataFrame({'Amino Acid': pd.Series(dtype='str'), 'Secondary Structure': pd.Series(dtype='str'),'percentage frequency of AA being SS': pd.Series(dtype='float')})

In [9]:
aavals = pd.unique(df['AA'])

def get_perc(m, arr):
    return m/sum(arr)



for index, row in df.iterrows():
    #print(row['c1'], row['c2'])
    
    val = row["count"]
    aa = row["AA"]
    ss = row["SS"]
    
    temp_df = df.loc[df["AA"]==aa]
    arr3 = temp_df["count"].values.tolist()
    
    results_df.loc[len(results_df.index)] = [aa, ss, str(100 * get_perc(val, arr3))[:7] + "%"]

    
results_df

   Amino Acid Secondary Structure percentage frequency of AA being SS
0           A                   C                            31.3366%
1           A                   E                            16.7445%
2           A                   H                            51.9187%
3           C                   C                            40.0299%
4           C                   E                            28.9644%
5           C                   H                            31.0055%
6           D                   C                            54.6610%
7           D                   E                            12.2703%
8           D                   H                            33.0685%
9           E                   C                            34.3609%
10          E                   E                            15.4200%
11          E                   H                            50.2189%
12          F                   C                            30.5463%
13          F                   E                            31.0251%
14          F                   H                            38.4285%
15          G                   C                            66.5208%
16          G                   E                            14.8653%
17          G                   H                            18.6138%
18          H                   C                            44.6032%
19          H                   E                            21.8464%
20          H                   H                            33.5503%
21          K                   C                            39.1965%
22          K                   E                            17.7570%
23          K                   H                            43.0463%
24          L                   C                            26.7783%
25          L                   E                            23.9672%
26          L                   H                            49.2544%
27          M                   C                            32.5510%
28          M                   E                            21.2314%
29          M                   H                            46.2175%
30          N                   C                            56.9015%
31          N                   E                            13.7925%
32          N                   H                            29.3059%
33          P                   C                            70.1212%
34          P                   E                            10.0722%
35          P                   H                            19.8065%
36          Q                   C                            35.0850%
37          Q                   E                            16.9815%
38          Q                   H                            47.9334%
39          R                   C                            35.4001%
40          R                   E                            20.2601%
41          R                   H                            44.3397%
42          S                   C                            49.9104%
43          S                   E                            18.7153%
44          S                   H                            31.3742%
45          T                   C                            43.6392%
46          T                   E                            27.1061%
47          T                   H                            29.2545%
48          V                   C                            25.4683%
49          V                   E                            41.3012%
50          V                   H                            33.2303%
51          W                   C                            29.8222%
52          W                   E                            29.3459%
53          W                   H                            40.8317%
54          X                   C                            25.2601%
55          X                   E                            32.7306%
56          X                   H                            42.0091%
57          Y                   C                            30.9564%
58          Y                   E                            31.6688%
59          Y                   H                            37.3747%

###### ensuing predictor - assuming the model selects the most likely match for an Amino Acid is predicted

In [10]:
# same as intitial test
AAs = pd.unique(df2['AA'])

from statistics import mean

accurs = []

def get_accuracy(correct, arr):
    return correct/(sum(arr))

for i in AAs:
    temp_df = df2.loc[df2["AA"]==i]
    arr1 = temp_df["count"].values.tolist()
    guess = guessmap[i]
    gcount = temp_df["count"].loc[temp_df["SS"]==guess].values[0]
    
    accurs.append((get_accuracy(gcount, arr1)))
    

print(f"accuracy score test set: {mean(accurs)}")

print(f"accuracy score train set: {mean(results)}")

accuracy score test set: 0.47714055449994286
accuracy score train set: 0.47963121982586604

###### all predicted to be in a coil

In [11]:
# same as intitial test
AAs = pd.unique(df2['AA'])

from statistics import mean

accurs = []
results=[]

def get_accuracy(correct, arr):
    return correct/(sum(arr))

for i in AAs:
    temp_df = df2.loc[df2["AA"]==i]
    arr1 = temp_df["count"].values.tolist()
    guess = "C"
    gcount = temp_df["count"].loc[temp_df["SS"]==guess].values[0]
    
    accurs.append((get_accuracy(gcount, arr1)))
    
    temp_train = df.loc[df["AA"]==i]
    arr2 = temp_train["count"].values.tolist()
    gcount2 = temp_train["count"].loc[(temp_train["SS"]=="C") & (temp_train["AA"]==i)].values[0]
    
    
    results.append(get_accuracy(gcount2, arr2))
    

print(f"accuracy score test set: {mean(accurs)}")

print(f"accuracy score train set: {mean(results)}")

accuracy score test set: 0.40226993524783133
accuracy score train set: 0.4015749161035843

###### each amino acid matched with a random secondary structure

In [12]:
all_ss = pd.unique(df['SS'])
all_ss

array(['C', 'E', 'H'], dtype=object)

In [13]:
from random import randint
random_guessmap = {}
for a in AAs:
    ind = randint(0, len(all_ss)-1)
    random_guessmap[a] = all_ss[ind]

In [14]:
accurs = []
results = []

for i in AAs:
    temp_df = df2.loc[df2["AA"]==i]
    arr1 = temp_df["count"].values.tolist()
    guess = random_guessmap[i]
    gcount = temp_df["count"].loc[(temp_df["SS"]==guess) & (temp_df["AA"]==i)].values[0]
    
    accurs.append((get_accuracy(gcount, arr1)))
    
    
    temp_train = df.loc[df["AA"]==i]
    arr2 = temp_train["count"].values.tolist()
    gcount2 = temp_train["count"].loc[(temp_train["SS"]==guess) & (temp_train["AA"]==i)].values[0]
    
    
    results.append(get_accuracy(gcount2, arr2))

    

print(f"accuracy score test set: {mean(accurs)}")

print(f"accuracy score train set: {mean(results)}")

accuracy score test set: 0.28960414362141473
accuracy score train set: 0.2890438218882777

##### each individual row given a random secondary structure

In [15]:
big_df_train =pd.DataFrame({'Amino Acid': pd.Series(dtype='str'), 'Secondary Structure': pd.Series(dtype='str')})
big_df_test =pd.DataFrame({'Amino Acid': pd.Series(dtype='str'), 'Secondary Structure': pd.Series(dtype='str')})
big_df_train

Empty DataFrame
Columns: [Amino Acid, Secondary Structure]
Index: []

In [16]:
%%time
for index, row in df.iterrows():
    aa = row["AA"]
    ss = row["SS"]
    
    mult = row["count"]
    
    data = [[aa, ss]]*mult
    
  
    temp_df = pd.DataFrame(data, columns=['Amino Acid', 'Secondary Structure'])
    
    big_df_train = pd.concat([big_df_train, temp_df]) 

big_df_train

CPU times: total: 1.08 s
Wall time: 1.32 s

      Amino Acid Secondary Structure
0              A                   C
1              A                   C
2              A                   C
3              A                   C
4              A                   C
...          ...                 ...
37927          Y                   H
37928          Y                   H
37929          Y                   H
37930          Y                   H
37931          Y                   H

[2883801 rows x 2 columns]

In [17]:
%%time
for index, row in df2.iterrows():
    aa = row["AA"]
    ss = row["SS"]
    
    mult = row["count"]
    
    data = [[aa, ss]]*mult
    
  
    temp_df = pd.DataFrame(data, columns=['Amino Acid', 'Secondary Structure'])
    
    big_df_test = pd.concat([big_df_test, temp_df]) 

big_df_test

CPU times: total: 312 ms
Wall time: 479 ms

      Amino Acid Secondary Structure
0              A                   C
1              A                   C
2              A                   C
3              A                   C
4              A                   C
...          ...                 ...
12415          Y                   H
12416          Y                   H
12417          Y                   H
12418          Y                   H
12419          Y                   H

[968350 rows x 2 columns]

In [131]:
#from numba import jit
import numpy as np
from numpy.random import randint as randy

@jit(nopython=True)
def make_guess(big_df):
    ss_arr = {0:"C", 1:"H", 2:"E"}
    
    s=len(big_df)
    guess_train = np.array([])
    
    g_inds = np.random.randint(3, size=s)
    
    for i in range(0, len(g_inds)):
        
        g = ss_arr[g_inds[i]]
        
        guess_train = np.append(guess_train, g)
    
    return guess_train

In [132]:
%%time
inp = big_df_train["Amino Acid"].to_numpy()
y_guess = make_guess(inp)

KeyboardInterrupt:

In [96]:
print(randy(3))

1

In [61]:
len(big_train_x)

968350

In [60]:
test_df_guess[4]

IndexError: index 4 is out of bounds for axis 0 with size 0

In [ ]:
correct = np.array([])

In [118]:
from sklearn.metrics import accuracy_score

In [119]:
len(big_df_test)

968350

In [120]:
len(big_df_train)

2883801